*{

}
body{
    background-image:  url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card{
    background-color: #343333;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    padding: 32px;
    border-radius: 16px;
}
.images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 100px;
}
.name{
    width: 200px;
}
p{
    width: 500px;
}
input{
    margin-top: 32px;
    color: white;
    background-color: #70B85B;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    font-size: larger;
}
input:hover{
    background-color: #549441;
}
iframe{
    width:640px; 
    height: 480px;
}
@media (max-width: 600px) {
    .logo{
        height: 100px;
    }
    .name{
        width: 200px;
    }
    p{
        width: 300px;
    }
    iframe{
        width: 320px; 
        height: 240px;
    }
} 